$font-familyRaleway: 'Raleway', sans-serif;
.btnSinup {
    border: none;
    background-color: #f2184f;
    color: #fff;
    padding: 7px 40px;
    font-family: $font-familyRaleway;
    font-size: 17px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.titleDescriptionWrapper{
    background-image: url('../../../public/images/back.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 230px;
    .title {
        font-size: 40px;
        color: #000;
        margin-bottom: 10px;
        line-height: 45px;
        font-family: $font-familyRaleway;
        font-weight: bold;
    }
    .subtitle {
        color: #f2184f;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 20px;
        font-family: $font-familyRaleway;
    }
}