$font-familyRaleway: 'Raleway', sans-serif;

.contactWrapper {
    padding: 30px 150px;
    background-color: #1f1f1f;
    .contact {
        border-right: 2px solid #fffcf4;
    }
    .contactInfoWrapper {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        margin-top: 30px;
        .title {
            font-size: 20px;
            font-family: $font-familyRaleway;
            color: #fffcf4;
            margin-bottom: 30px;
        }

        .contactIconWrapper {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            color: #fffcf4;

            .contactIcon:hover {
                .ico {
                    color: #f2184f;
                    transition: 0.7s;
                }
            }

            .ico {
                font-size: 20px;
            }

            .street{
                font-family: $font-familyRaleway;
                font-size: 15px;
                margin-top: 10px;
                line-height: 20px;
            }
        }
    }

    .socialIconsWrapper{
        display: flex;
        gap: 10px;
        margin-top: 20px;
        .link {
            background-color: #fffcf4;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 7px;
        }

        .link:hover{
            .social{
                color: #fff;
                transition: 0.7s;
            }
            background-color: #f2184f;
            transition: 0.7s;
            cursor: pointer;
        }
    }

    .mailWrapper{
        margin-top: 20px;
    }
    .newsletterWrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding-left: 20px;
        .titleNews{
            font-size: 20px;
            font-family: $font-familyRaleway;
            color: #fffcf4;
            margin-bottom: 20px;
        }
        .link {
            font-family: $font-familyRaleway;
            font-size: 15px;
            margin-top: 10px;
            color: #c0c0bf;
            line-height: 20px;
        }

        .inputStyl {
            border: none;
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 100%;
            font-size: 15px;
            border-radius: 25px;
        }

        .btn {
            border: none;
            background-color: #f2184f;
            color: #fff;
            padding: 7px 40px;
            font-family: $font-familyRaleway;
            font-size: 17px;
            cursor: pointer;
            margin-top: 20px;
        }
    }
}

@media (max-width: 800px) {
    .contactWrapper {
        padding: 30px 50px;
    }
}